
<%
	const safeMessages = data?.messages || [];

	const messageListClass =
		safeMessages.length === 0 ? "message-list empty" : "message-list";

	const getMessageId = (message) => {
		return `message-${message.id}`
	}

%>



<div id="message-container" class='<%= messageListClass %>' >
	<% if(safeMessages.length === 0 ) { %>
		<p>( No message found )</p>

	<% } else { %>
		<ul>
			<% safeMessages.forEach((message,index) => { %>	
				<li class="<%= index === safeMessages.length - 1 ? 'message-item last-message' : 'message-item' %>" id="<%= getMessageId(message) %>" >
					<p><%= message?.text %></p>
					<div>
						<div>
							<p><%= message?.username %> - <%= message?.added %></p>
						</div>
						<a href="/message/<%= message.id %>"><button >Open</button></a>
					</div>
				</li>
			<% }) %>
		</ul>
	<% } %>
</div>

<script>
	const container = document.getElementById("message-container");
	container.scrollTop = container.scrollHeight;
	if (window.location.hash) {
  	history.replaceState(null, "", window.location.pathname);
	}
</script>
