<%
const messages = data.messages ?? [];
const messageContainerClass =
  messages.length === 0 ? "message-container empty" : "message-container";
%>

<!doctype html>
<html lang="en">
	<%- include('partials/head') %>
	<body>
		<%- include('partials/header') %>
		<main>
			<div class='<%= messageContainerClass %>' >
				<% if(data.messages.length === 0 ) { %>
					<p>( No message found )</p>
				<% } else { %>
					<% data.messages?.forEach(message => { %>
						<ul>
							<li class="card">
								<p>	<%= message?.text %></p>
								<div>
									<div>
										<p>	<%= message?.user %> - <%= message?.added %></p>
									</div>
									<a href="/message/<%= message.id %>" >Open</a>
								</div>
							</li>
						</ul>
					<% }) %>
				<% } %>
			</div>

			<%- include('partials/newMessageForm') %>
		</main>
	</body>
</html>
