<!doctype html>
<html lang="en">
	<%- include('partials/head') %>
	<body>
		<%- include('partials/header') %>
		<main>
				<% data.messages?.forEach(message => { %>
				<ul>
					<li class="card">
						<p>	<%= message?.text %></p>
						<p>	<%= message?.user %></p>
						<p>	<%= message?.added %></p>
						<a href="/message/<%= message.id %>" >Open</a>
					</li>
				</ul>
			<% }) %>
		</main>
	</body>
</html>
