<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head') %>
	<body>
		<%- include("../partials/header") %>

		<main class="card details">
			<h1>Message Details: <%= id %></h1>
			<h2>text: <%= text %></h2>
			<h2>user: <%= username %></h2>
			<h2>date: <%= added %></h2>
		</main>
	</body>
</html>
