<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head') %>
	<body>
		<%- include("../partials/header") %>

		<main>
			<div class="details">
				<h1>Message number: <%= id %></h1>
				<p><%= text %></p>
				<div>
					<p><%= username %> - <%= added %></p>
				</div>
			</div>
		</main>
	</body>
</html>
