<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head') %>
	<body>
		<%- include("../partials/header") %>

		<main class="card">
			<h1>Message Details: <%= data.id %></h1>
			<h2>text: <%= data.text %></h2>
			<h2>user: <%= data.user %></h2>
			<h2>date: <%= data.added %></h2>
		</main>
	</body>
</html>
